body {
    background-color #EBEBEB;
font-family: arial, sans-serif;
color:#302F2F;
}

.wrapper{
  background: #ffffff;
  margin: 0 auto;
  padding: 12px;
}

h1, h2{
  color: #99762A;
  margin: 0;
}
blockquote {
  border-left: 4px solid #889AA5;
  padding: 12px;
  background-color: #f9f9f9;
  margin-left: 0;
}

.image {
  text-align;
  margin: .2em 0;
}

.caption {
  font-style: italic;
  margin-top: 0;
}

a{
  color: #2C465B;
}

img {
  max-width: 100%
  height: auto;
}

ul{
  padding-left; 20px;
}

p {
  line-height: 1.4em;
}

header{
  background-image: url(../images/trees.png);
}

a {
  color: #59C3C3;
}

img{
max-width: 100%;
height: auto;
}

<<<<<<< Updated upstream

#footer {
  background: #6d9d31;
  padding:24px;
  text-align: center;
  color: #ffffff;














aside h2{
  front-size:1.4rem;
=======
footer.wrapper {
    text-align: center;
    padding: 26px 20px;
    border-top: 2px solid #d2d2d2;
}
@media all and (min-width: 920px) {
  aside, article {
    padding:10px;
float:left;

  }
  article {
    width:55%;
  }

  aside {
    width:25%;

  }

  .wrapper{
    background: #ffffff;
    width:calc(100% - 20px);
    max-width: 800px;
    margin: 0 auto;
    padding: 12px;
  }

>>>>>>> Stashed changes
}
