* {
  box-sizing: border-box;
}

body {
  background-color: #EBEBEB;
  font-family: arial, sans-serif;
  color: #302F2F;
}

.wrapper {
  background-color: #ffffff;
  width: 98%;
  max-width: 800px;
  margin: 0 auto;
  padding: 12px 20px;
}

h1 {
  margin-bottom: .5em;
}

h1#page-title {
  margin: 0;
}

h2 {
  margin-bottom: .25em;
  margin-top: 1em;
}

h1, h2 {
  color: #99762A;
}

blockquote {
  border-left: 4px solid #8B9AA5;
  padding: 12px;
  background-color: #f9f9f9;
  margin-left: 0;
}

.image {
  margin: 2em 0;
}

.caption {
  font-style: italic;
  margin-top: .25em;
}

a {
  color: #2C465B;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 20px;
  margin-top: 8px;
}

p {
  line-height: 1.4em;
}

header {
  background-image: url("../images/wheat.png");
  border-bottom: 2px solid #d2d2d2;
  text-align: center;
}

header.wrapper {
  padding: 26px 20px;
}

header.wrapper h1 {
  color: #ffffff;
}

footer.wrapper {
  text-align: center;
  padding: 26px 20px;
  border-top: 2px solid #d2d2d2;
}

article {
  padding-top: 14px;
}

aside h2 {
  font-size: 1.4rem;
}

@media all and (min-width: 920px) {
  aside h2:first-child {
    margin-top: 14px;
  }
}
